<section *ngIf="{
  colors: colors$ | async,
  isAddMode: !!(isAdd$ | async),
  isEditMode: !!(isEdit$ | async),
  isDeleteMode: !!(isDelete$ | async),
  id: id$ | async,
  editableFoo: editableFoo$ | async,
  deleteFoo: deleteFoo$ | async
} as model">
  <form [formGroup]="crudForm" (ngSubmit)="onSubmit()">

    <h1 *ngIf="!model.isAddMode">Id: {{crudForm.value.id}}</h1>
    <h2 *ngIf="!model.isAddMode">Created: {{crudForm.value.created}}</h2>

    <input type="hidden" formControlName="id">
    <input type="hidden" formControlName="created">

    <mat-form-field>
      <mat-label>Say my name</mat-label>
      <input matInput autocomplete="off" type="text" placeholder="Name" formControlName="name">
      <mat-hint *ngIf="!model.isDeleteMode">Ej: Heisenberg</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Colors</mat-label>
      <mat-select multiple formControlName="colors">
        <mat-option *ngFor="let color of model.colors" [value]="color">
          <div class="color">
            <div class="square" [style.backgroundColor]="color"></div>
            <div class="name">{{color}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="colors-collection">
      <div *ngFor="let color of crudForm.value.colors" class="color" [style.backgroundColor]="color">
      </div>
    </div>

    <mat-radio-group aria-label="Select an option" formControlName="color">
      <mat-radio-button value="green">Beer</mat-radio-button>
      <mat-radio-button value="yellow">Wine</mat-radio-button>
      <mat-radio-button value="red">Water</mat-radio-button>
    </mat-radio-group>

    <button mat-flat-button color="primary" type="submit" [disabled]="!crudForm.valid && !model.isDeleteMode">
      {{model.isDeleteMode && 'Delete' || model.isEditMode && 'Update' || model.isAddMode && 'Create'}}
    </button>
  </form>
</section>
