<section>
  <form [formGroup]="crudForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label>Say my name</mat-label>
      <input matInput  autocomplete="off" type="text" placeholder="Name" formControlName="name">
      <mat-hint>Ej: Heisenberg</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Colors</mat-label>
      <mat-select  formControlName="colors">
        <mat-option *ngFor="let color of colors" [value]="color">
          <div class="color">
            <div class="square" [style.backgroundColor]="color"></div>
            <div class="name">{{color}}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="color">
      <mat-radio-button value="green">Beer</mat-radio-button>
      <mat-radio-button value="yellow">Wine</mat-radio-button>
      <mat-radio-button value="red">Water</mat-radio-button>
    </mat-radio-group>

    <button mat-flat-button color="primary" type="submit" [disabled]="!crudForm.valid">Save</button>

    <!-- {{crudForm.value | json}} -->
  </form>
</section>
